{% extends 'base.html' %}

{% include "" %}

{% block title %}
    Sobre nosotros
{% endblock title %}

{% block content %}

    <div class="about-section">
        <h1 style="text-align:center">Conocenos</h1>
        <p style="margin-top: 25px;">
            Somos Coberplast, una distribuidora mayorista y minirista de artículos varios, tales como cubrepiletas, calefones y cloro, podés ver mas detalles yendo
            al catálogo de productos: <a href="/productos/listar/" class="btn btn-primary">Pulsa aquí</a>.
        </p>
        <p>
            
        </p>
    </div>

    <div class="row" style="text-align:center">
        <div class="column" style="margin-left: 39%; margin-top: 50px;">
        <div class="card">
            <img src="/media/Images/coberplast2.jpeg" alt="" style="width:100%">
            <div class="container">
            <h2>Coberplast</h2>
            <p class="title">Coberplast</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>coberplast@example.com</p>
            <p><a href="/contacto/" class="btn btn-primary">Contact</a></p>
            </div>
        </div>
        </div>

{% endblock content %}
