{% extends "base.html" %}

{% include "" %}

{% block title %}
    Contactanos
{% endblock title %}

{% block content %}
    <h1 style="margin-top: 50px;">
        Desde Coberplast y queremos lo mejor para nuestros clientes asi que si tenés alguna duda, problema o querés comprar algo no dudes en comunicarte por alguna de estas vías: ↓ ↓ ↓ ↓ ↓ ↓ ↓
    </h1>
    <h1 style="margin-top: 80px;">Para ponerte en contacto con nosotros elegí alguno de los siguientes medios de comunicación:
        <p style="margin-top: 25px;">
            → Teléfono celular: <a href="https://web.whatsapp.com" class="btn btn-primary">+54 11-1111 1111</a>
        </p>  
        <p style="margin-top: 50px;">
            → Email: <a href="https://outlook.live.com/mail/0/" class="btn btn-primary">coberplast@example.com</a>
        </p>
        <p style="margin-top: 50px;">
            → Veni a vernos a nuestra sucursal de venta en: <a href="https://www.google.com/maps/?hl=es" class="btn btn-primary">Calle falsa 123</a>
        </p>
    </h1>
{% endblock content %}
