{% extends 'base.html' %}

{% block title %}
    Listado de productos
{% endblock %}

{% block navbar %}

    <form class="form-inline my-2 my-lg-0" action="/productos/listar/" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <h2>Para añadir un nuevo producto pulse el botón "Añadir"</h2> <a href="/productos/crear/" class="btn btn-primary"
            style="margin: 15px;">Añadir</a>
        {% endif %}
    {% endif %}

    {% for product in products %} 
        <div class="card" enctype="multipart/form-data" style="width: 18rem;">
            {% if product.image.url != '' %}
                <img src="{{product.image.url}}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Su precio es ${{product.price}}</p>
            {% if product.stock == True %}
                <p>Actualmente hay stock</p>
            {% else %}
                <p>Actualmente, nos quedamos sin stock</p>
            {% endif %}
            <a href="/productos/ver-proveedores/" class="btn btn-primary">Consultar</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}