{% extends "base.html" %}

{% include "" %}

{% block title %}
    Actualizacion de perfil
{% endblock %}

{% block content %}
    <h1>Actualizar informacion</h1>

    {% if form %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Actualizar">
        </form>
    {% endif %}

    {% if errors %}
        {{errors}}
    {% endif %}

{% endblock %}